/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.buttons {
    background-color: #7823c4;
    color: #F8FAFC;
    padding: 0.5rem 0;
    font-weight: 500;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    transition-duration: 300ms;
}

.buttons:hover {
    background-color: #21419c;
}